@model API.Core.Models.ResetPasswordViewModel;

@{
    Layout = "API.Core.Views._Layout";
}

<title>Reset Password</title>

<div class="container mt-5">
    <div id="alert" class="alert" style="display: none" role="alert">
        <span id="alertTitle" style="margin-right: 5px; font-weight: bold;"></span>
        <span id="alertMessage"></span>
    </div>
    <h2>Reset Your Password</h2>
    <form>
        <input type="hidden" asp-for="Email" id="email" value="@Model.Email" />
        <input type="hidden" asp-for="ResetCode" id="resetCode" value="@Model.ResetCode" />

        <div class="mb-3">
            <label for="newPassword" class="form-label">New Password</label>
            <input type="password" class="form-control" id="newPassword" name="newPassword" required />
        </div>

        <div class="mb-3">
            <label for="confirmNewPassword" class="form-label">Confirm New Password</label>
            <input type="password" class="form-control" id="confirmNewPassword" name="confirmNewPassword" required />
        </div>

        <div class="d-flex justify-content-between align-items-center">
            <button type="submit" class="btn btn-primary">Reset Password</button>
        </div>
    </form>
</div>

<script>
    function updateAlert(display, isError, message) {
        var alert = document.getElementById("alert");
        alert.style.display = display ? "block" : "none";
        alert.classList.remove(isError ? "alert-success" : "alert-danger");
        alert.classList.add(isError ? "alert-danger" : "alert-success");

        var alertTitle = document.getElementById("alertTitle");
        alertTitle.innerHTML = isError ? "Error!" : "Success!";

        var alertMessage = document.getElementById("alertMessage");
        alertMessage.innerHTML = message;
    }

    document.querySelector("form").addEventListener("submit", function (event) {
        event.preventDefault();

        var email = document.getElementById("email").value;
        var resetCode = document.getElementById("resetCode").value;
        var newPassword = document.getElementById("newPassword").value;
        var confirmNewPassword = document.getElementById("confirmNewPassword").value;

        if (newPassword !== confirmNewPassword) {
            alert("Passwords do not match!");
            return;
        }

        fetch(window.location.origin + "/resetPassword", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify({
                email,
                resetCode,
                newPassword
            })
        })
        .then(response => {
            if (!response.ok) {
                return response.json().then((data) => {
                    let message = "";

                    for (let key in data.errors) {
                        data.errors[key].forEach(requirement => {
                            message += requirement + " ";
                        });
                    }

                    throw new Error(message);
                });
            }
        })
        .then(data => {
            updateAlert(true, false, "Password has been updated.");
        })
        .catch(error => {
            updateAlert(true, true, error.message ?? "An unexpected error occured.");
        });
    });
</script>
